@model List<painel_conversas.Models.ContactItems>
<h2>Contatos</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var contact in Model)
    {
        <tr>
            <td>@contact.id</td>
            <td>@contact.name</td>
            <td>@contact.email</td>
            <td>@contact.phone</td>
        </tr>
    }
    </tbody>
</table> 

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    th {
        background-color: #f3f3f3;
    }
</style>